<div class="header">
	<div [className]="isDarkMode ? 'dark logo' : 'logo'">
		<img *ngIf="!isDarkMode" src="/assets/img/logo.png" alt="" />
		<img *ngIf="isDarkMode" src="/assets/img/logo-dark.png" alt="" />
	</div>
	<div class="buttons">
		<p-button
			[text]="true"
			pTooltip="{{
				currentMode === 'auto'
					? getChromeMessage('label_darkmode')
					: currentMode === 'dark'
					? getChromeMessage('label_lightmode')
					: getChromeMessage('label_automode')
			}}"
			tooltipPosition="left"
			[icon]="hoveredIcon || getIcon()"
			(click)="toggleDarkMode()"
			(mouseenter)="onMouseEnter()"
			(mouseleave)="onMouseLeave()"
		></p-button>

		<p-button
			[text]="true"
			pTooltip="{{ getChromeMessage('label_refresh') }}"
			tooltipPosition="left"
			icon="pi pi-refresh"
			(click)="refreshData()"
		></p-button>
	</div>
</div>
