.logo img {
	width: 75px;
	background-color: #ffff;
}
.logo.dark img {
	background-color: var(--background-dark-color);
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.buttons {
	gap: 5px;
	display: flex;
	align-items: center;
}
::ng-deep button {
	padding: 5px;
}
