<div class="header">
	<div [className]="config.darkMode ? 'dark logo' : 'logo'">
		<img *ngIf="!config.darkMode" src="/assets/img/logo.png" alt="" />
		<img *ngIf="config.darkMode" src="/assets/img/logo-dark.png" alt="" />
	</div>
	<div class="buttons">
		<p-button
			[text]="true"
			pTooltip="{{ getChromeMessage('label_refresh') }}"
			tooltipPosition="left"
			icon="{{ isDarkMode ? 'pi pi-sun' : 'pi pi-moon' }}"
			(click)="toggleDarkMode()"
		></p-button>
		<p-button
			[text]="true"
			pTooltip="{{ getChromeMessage('label_refresh') }}"
			tooltipPosition="left"
			icon="pi pi-refresh"
			(click)="refreshData()"
		></p-button>
	</div>
</div>
