@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 100 900;
   font-display: swap;
   src: url(../../assets/Inter-Medium.ttf);
   font-named-instance: Inter-Medium;
}

body {
   min-height: 300px;
   width: 400px;
   background-color: #ffffff;
   font-family: "Inter";
}

body > div {
   height: inherit;
   flex-direction: column;
   display: flex;
   justify-content: space-between;
}
.input-min > div {
   min-width: 100px !important;
}