body {
	width: 400px;
	min-height: 400px;
	background-color: #ffffff;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body.dark {
	background-color: rgb(34, 21, 42);
}

body > div {
	height: inherit;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}
.input-min > div {
	min-width: 100px !important;
}

.legal {
	font-size: 10px;
}

.hr-legal {
	margin: 0 -20px;
}

body.dark #conversor-select span {
	color: white;
}

body.dark .hr-legal {
	border-color: rgb(66 66 66);
}

.legal-bg {
	background: rgb(240 240 240);
	margin: 0 -20px -20px -20px;
}
body.dark .legal-bg {
	background: rgb(35, 23, 43);
}

.legal-bg p {
	padding: 20px;
}

.legal-bg .version {
	padding: 0;
	padding-top: 4px;
	font-weight: 600;
}
