body {
	min-height: 300px;
	width: 400px;
	background-color: #ffffff;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body > div {
	height: inherit;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}
.input-min > div {
	min-width: 100px !important;
}
