/* General Styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #eef3f7;
	color: #333;
  }
  
  .header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
	background-color: #fff;
	z-index: 20;
  }
  
  .logo {
	width: 80px;
  }
  
  .alert {
	position: fixed;
	top: 16%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border-radius: 5px;
	display: none;
  }
  
  .select-currency, .select-tab {
	width: 200px;
  }
  
  .saved-alert {
	display: block;
  }
  
  .check-icon {
	width: 20px;
	height: 20px;
	background-color: green;
	border-radius: 50%;
  }
  
  .alert-message {
	margin-left: 10px;
  }
  
  .top-section {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #1A2630;
	color: white;
	padding: 10px;
	z-index: 10;
  }
  
  .top-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .title {
	font-size: 1.5em;
  }
  
  .buttons {
	display: flex;
	gap: 10px;
  }
  
  .button {
	padding: 8px 15px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
  }
  
  .cancel {
	background-color: #f44336;
	color: white;
  }
  
  .save {
	background-color: #4CAF50;
	color: white;
  }
  
  .save[disabled] {
	background-color: #9e9e9e;
  }
  
  .main-content {
	padding: 0;
  }
  
  .settings-group {
	margin-bottom: 20px;
  }
  
  .group-label {
	font-size: 1.2em;
	margin-bottom: 10px;
	background-color: var(--background-color);
	color: var(--primary-color);
	text-transform: uppercase;
	padding: 1rem;
	margin-top: 0;
  }
  
  .option-item {
	margin-bottom: 15px;
	display: flex;
    justify-content: space-between
  }
  
  .option-item label {
	padding-left: 15px;
	font-weight: bold;
	display: flex;
    align-items: center;
  }
  
  .color-input {
	width: 50px;
	height: 30px;
  }
  
  .link-container {
	text-align: center;
	margin-top: 20px;
  }
  
  .bmac-img {
	width: 100px;
	border-radius: 5px;
	background: #FFDD00;
    padding: 3px;
  }
  
  .toggle-container {
    position: relative;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: block;
    width: 80px; /* Más pequeño */
    height: 24px; /* Más pequeño */
    background-color: burlywood;
    border-radius: 24px; /* Más pequeño */
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-label::before {
    content: '';
    position: absolute;
    width: 15px; /* Más pequeño */
    height: 15px; /* Más pequeño */
    border-radius: 50%;
    background-color: white;
    top: 5px; /* Ajustado */
    left: 5px; /* Ajustado */
    transition: transform 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #4caf50;
}

.toggle-checkbox:checked + .toggle-label::before {
    transform: translateX(56px); /* Ajustado */
}

.toggle-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px; /* Tamaño de fuente más pequeño */
    color: white;
    font-weight: bold;
    pointer-events: none; /* Evita que el texto interfiera con el clic */
}

.toggle-text-left {
    left: 25px; /* Ajustado */
}

.toggle-text-right {
    display: none; /* Oculto por defecto */
}

.toggle-checkbox:checked + .toggle-label .toggle-text-left {
    display: none; /* Oculta "Compra" cuando está activado */
}

.toggle-checkbox:checked + .toggle-label .toggle-text-right {
    display: block; /* Muestra "Venta" cuando está activado */
}

.color-input {
	appearance: none;
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	padding: 0;
	background-color: transparent;
}

.color-input::-webkit-color-swatch {
	border-radius: 50%;
	border: 2px solid #ddd;
}

.color-input::-moz-color-swatch {
	border-radius: 50%;
	border: 2px solid #ddd;
}

.toggle-container-hide-conversor {
    position: relative;
}

.toggle-container-hide-conversor .toggle-checkbox {
    display: none;
}

.toggle-container-hide-conversor .toggle-label {
    display: block;
    width: 50px; /* Más pequeño */
    height: 24px; /* Más pequeño */
    background-color: #ccc;
    border-radius: 24px; /* Más pequeño */
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-container-hide-conversor .toggle-label::before {
    content: '';
    position: absolute;
    width: 15px; /* Más pequeño */
    height: 15px; /* Más pequeño */
    border-radius: 50%;
    background-color: white;
    top: 4px; /* Ajustado */
    left: 5px; /* Ajustado */
    transition: transform 0.3s;
}

.toggle-container-hide-conversor .toggle-checkbox:checked + .toggle-label {
    background-color: #4caf50;
}

.toggle-container-hide-conversor .toggle-checkbox:checked + .toggle-label::before {
    transform: translateX(26px);
}
.p-element {
	padding-left: 5px;
}
::ng-deep p-badge .p-badge {
	background: transparent;
    color: #ffffff;
    font-weight: 500;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    margin-bottom: 12px;
    margin-left: -9px;
    font-size: 10px;
	cursor: help;
}