#container {
	min-width: 400px;
	max-width: 600px;
	min-height: 400px;
	background-color: #ffffff;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 10px;
}

.logo img {
	width: 100px;
	background-color: #ffff;
}