#container {
	min-width: 400px;
	max-width: 600px;
	min-height: 400px;
	background-color: var(--background-primary-color);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 15px;
	gap: 10px;
	display: flex;
	flex-direction: column;
}
#container.dark {
	background-color: var(--background-dark-color);
}

.content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.tab-title {
	padding-left: 5px;
}
::ng-deep .p-tabview-panels {
	padding: 0;
}
::ng-deep .p-message-wrapper {
	padding: 6px 10px;
}
::ng-deep .p-progress-spinner {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
::ng-deep .p-tabview.p-component {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
::ng-deep .p-message.p-message-info {
	margin: 0;
}
::ng-deep .p-element.p-ripple.p-tabview-nav-link {
	min-height: 47px;
	padding-bottom: 5px;
}
.footer {
	padding-top: 10px;
}
.footer-text {
	font-size: 11px;
	padding-left: 5px;
}
#container {
	position: relative;
}

.table {
	width: 100%;
	margin: auto;
	z-index: 50;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.loading {
	height: 100%;
	width: 100%;
	background-color: var(--background-primary-color);
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}
::ng-deep .p-message.p-message-info {
	background-color: var(--primary-color);
	border: 0;
	color: var(--background-primary-color);
}
#container.dark ::ng-deep .p-message.p-message-info {
	background-color: var(--primary-dark-color);
	border: 0;
	color: var(--background-dark-color);
}
#container.dark ::ng-deep .p-tabview .p-tabview-nav,
#container.dark ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
#container.dark ::ng-deep .p-tabview .p-tabview-nav .p-tabview-nav-link {
	background-color: var(--background-dark-color);
}
::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
	border-color: var(--primary-color) !important;
	color: var(--primary-color) !important;
}
#container.dark ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
	border-color: var(--primary-dark-color) !important;
	color: var(--primary-dark-color) !important;
}
#container.dark ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
	color: var(--secondary-dark-color);
}
#container.dark ::ng-deep .p-datatable .p-datatable-tbody > tr {
	background-color: var(--table-background-dark-color);
}
#container.dark ::ng-deep .p-datatable .p-datatable-tbody > tr {
	border-color: var(--background-dark-color);
}

.legal-terms {
	margin-top: 10px;
	text-align: right;
}
.legal-terms p,
.legal-terms a {
	font-weight: bold;
	font-size: 9px;
}
.legal-terms a {
	cursor: pointer;
}
.legal-terms a:hover {
	color: var(--primary-color);
}
