#container {
	min-width: 400px;
	max-width: 600px;
	min-height: 400px;
	background-color: #ffffff;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 15px;
}

.logo img {
	width: 100px;
	background-color: #ffff;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}