@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
	--primary-color: #3949ab;
	--primary-dark-color: #a4aff4;
	--secondary-color: #6b7280;
	--secondary-dark-color: #e3e6f7;
	--background-color: #e3e6f7;
	--background-primary-color: #fff;
	--background-dark-color: #333;
	--table-background-dark-color: #444;
}

* {
	font-size: 12px;
}

legal-terms p b {
	font-size: 10px;
}

body {
	margin: 0;
	border: 0;
}

html {
	background-color: var(--background-primary-color);
}

html.dark {
	background-color: var(--background-dark-color);
}

button:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.p-message.p-message-error p {
	margin: 0;
}
